.article {
  padding-bottom: 2rem;
  margin-bottom: 2rem;
  background-color: var(--bg-secondary);
  border-radius: 0.6rem;

  @media all and (min-width: 600px) {
    display: flex;
    height: 19rem;
    padding: 0;
  }

  @media all and (min-width: 900px) {
    display: block;
    min-height: 35rem;
    height: auto;
    overflow: hidden;
  }
}

.articles {
  padding: 5rem 0;
}

.articles__list {
  @media all and (min-width: 900px) {
    display: flex;
    flex-wrap: wrap;
  }
}

.articles__item {
  @media all and (min-width: 900px) {
    width: 49%;

    &:nth-child(odd) {
      margin-right: 2%;
    }
  }
}

.article__img {
  display: block;
  width: 100%;
  height: 12rem;
  border-radius: 0.6rem 0.6rem 0 0;
  object-fit: cover;
  object-position: 0 -5rem;
  transition: all 1s ease-out;

  @media all and (min-width: 600px) {
    height: 100%;
    width: 26rem;
    margin-right: 2rem;
    border-radius: 0.6rem 0 0 0.6rem;
    object-position: 0;
  }

  @media all and (min-width: 900px) {
    width: 100%;
    height: 16rem;
    border-radius: 0.6rem 0.6rem 0 0;
  }
}

.article__data {
  padding: 2rem;
  padding-bottom: 0;

  @media all and (min-width: 600px) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem;
    padding-left: 0;
  }

  @media all and (min-width: 900px) {
    padding: 2rem;
    min-height: 15rem;
  }
}

.article__title {
  padding-bottom: 1rem;
  font-size: 1.8rem;
}

.article__excerpt {
  line-height: 1.6;
}

.article__link {
  padding-bottom: 0.15rem;
  margin-left: 1rem;
  background: linear-gradient(to right,#ff8a00,#da1b60);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  box-decoration-break: clone;
  white-space: nowrap;

  &:hover {
    border-bottom: 1px solid #da1b60;
  }
}

.article__btn {
  margin-right: 2rem;
}

.article__meta {
  color: var(--accent-color);
}

.article__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
}

.article__like {
  display: flex;
  justify-content: center;
}

.like__icon {
  width: 1.8rem;
  height: 1.8rem;
  cursor: pointer;
  background-image: url(../../img/icon-like.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

.like__icon--active {
  width: 1.8rem;
  height: 1.8rem;
  cursor: pointer;
  background-image: url(../../img/icon-like-active.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

.like__img {
  width: 100%;
  height: auto;
}

.like__count {
  margin-right: 1rem;
  color: var(--accent-color);
}
