.users {
  padding: 3rem 0;
}

.users__title {
  font-size: 3.4rem;
  text-align: center;
}

.user__list {
  padding: 5rem 0;
}

.user__item {
  &:not(:last-child) {
    padding-bottom: 1rem;
    margin-bottom: 2rem;
    border-bottom: 1px solid gray;
  }
}

.user__info {
  &:not(:last-child) {
    margin-bottom: 1rem;
  }
}