:root {
  --font-family: Ubuntu, Helvetica, Arial, sans-serif;
  --font-color: #fff;
  --accent-color: #c2c2c2;
  --bg-primary: #100e17;
  --bg-secondary: #1c1c1c;
  --bg-tertiary: #100e17;
  --font-size-mobile: 1.4rem;
  --font-size-desktop: 1.7rem;
  --font-size-title: 1.8rem;
}
